#exportPattern("^[%[:alpha:]]+")
#exportPattern("^[^\\.]")
export(
adat.diff,
read.adat,
get.somamers,
get.meta,
get.soma.names,
get.soma.data,
get.seq.ids.matches,
attach.soma.data,
is.intact.attributes,
quick.subset,
vec.diff,
verify.adat.checksum,
write.adat,
adat2eSet,
melt.eSet
)

import(digest)

S3method(print,soma.adat)
S3method(summary,soma.adat)
